.navbar{
  padding-bottom: .5vh;
  padding-top: .5vh;
  background: goldenrod;
}

.nav-link{
  background: none;
  color: black;
}
.nav-link:hover{
  color: white;
}

.ticket-data{
  font-size: 1px;
}

.dropdown{
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: block;
  float: left;
  padding-left: 6vw;
}


