<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="collapse navbar-collapse" id="navbarStudent">
    <ul class = "navbar">
      <li><a class="nav-link" routerLink="landing">Home</a></li>
      <li><a class="nav-link" routerLink="powertrain&drivetrain">Powertrain / Drivetrain</a></li>
      <li><a class="nav-link" routerLink="electronics">Electronics</a></li>
      <li><a class="nav-link" routerLink="aerodynamics">Aerodynamics</a></li>
      <li><a class="nav-link" routerLink="braking&controls">Braking / Controls</a></li>
      <li><a class="nav-link" routerLink="suspension">Suspension</a></li>
      <li><a class="nav-link" routerLink="newMembers">New Members</a></li>
      <li><a class="nav-link" routerLink="gallery">Gallery</a></li>
    </ul>
  </div>
</nav>
